*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}

#main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #96D3FF;
}

#main h1{
    /* line-height: 2px; */
    font-size: 520px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main small{
    font-size: 50px;
}